#-*-Makefile-*- vim:syntax=make
#
# see tos/platform/dev6a/hardware.h for how the pins are assigned.
#

TARGET = dev6a
PLATFORM_DIR = $(MM_ROOT)/tos/platforms/$(TARGET)

# currently golden is default, use "nib" on make to switch
LINKERFILE ?= $(PLATFORM_DIR)/linker_golden_0k.lds

BUILD_NUM_FILE = $(PLATFORM_DIR)/_Build
BUILD_NUM := $(shell if [ -f $(BUILD_NUM_FILE) ]; then echo $$(($$(cat $(BUILD_NUM_FILE)) + 1)); else echo 0; fi)

PFLAGS += -D_BUILD=$(BUILD_NUM)

PFLAGS += -I$(MM_ROOT)/include

OPTFLAGS += -ggdb

include $(PLATFORM_DIR)/Makefile.platform
$(call TOSMake_include_platform,dev6a)
$(call TOSMake_include_make_platform,msp432)
UPSTAIRS ?= ../..

build_num: FORCE
	@if [ ! -f $(BUILD_NUM_FILE) ] ; then echo -1 > $(BUILD_NUM_FILE); fi
	@echo $$(($$(cat $(BUILD_NUM_FILE)) + 1)) > $(BUILD_NUM_FILE)
	@printf "BUILD: %d (0x%x)\n" $(BUILD_NUM) $(BUILD_NUM)

$(TARGET): build_num $(BUILD_DEPS)
	@if [ "z$(BUILD_TYPE)" != "z" ] ; then \
	    echo -e "\n*** $(BUILD_TYPE) build -> $(TOSMAKE_BUILD_DIR)\n"; \
	    else echo -e "\n*** DEV (0k) build -> $(TOSMAKE_BUILD_DIR)\n"; fi
	ln -fs $(UPSTAIRS)/.gdbinit $(TOSMAKE_BUILD_DIR)/.gdbinit
	ln -fs $(UPSTAIRS)/.gdb_$(TARGET) $(TOSMAKE_BUILD_DIR)/.gdb_target
	@:
