# -*-Makefile-*- vim:syntax=make

#
# mm3 is based on msp430f1611
# see tos/platform/mm3/hardware.h for how the pins are assigned.
#

TARGET = mm3
PLATFORM_DIR = $(MM_ROOT)/tos/platforms/$(TARGET)

PFLAGS += -I$(MM_ROOT)/include

MSP_BSL ?= tos-bsl
MSP_BSL_FLAGS = --telosb

ifdef CC2420_CHANNEL
PFLAGS += -DCC2420_DEF_CHANNEL=$(CC2420_CHANNEL)
endif

$(call TOSMake_include_platform,mm3)
$(call TOSMake_include_make_platform,msp)

mm3: $(BUILD_DEPS)
	@:
