# -*-Makefile-*- vim:syntax=make
#
# mm4 is based on msp430f2618
# see tos/platform/mm4/hardware.h for how the pins are assigned.
#

TARGET = mm4
PLATFORMDIR = $(MM_ROOT)/tos/platforms/$(TARGET)

BUILD_NUM_FILE = $(PLATFORMDIR)/_Build
BUILD_NUM := $(shell if [ -f $(BUILD_NUM_FILE) ]; then echo $$(($$(cat $(BUILD_NUM_FILE)) + 1)); else echo 0; fi)

PFLAGS += -D_BUILD=$(BUILD_NUM)

PFLAGS += -I$(MM_ROOT)/include

# the include files for the 2618 needs to have the svsctl at 55
# not 56 which is where the dcoctl register lives.
#
# No longer needed with the new TI headers.  But leave for now
# because we switch between mspgcc4 (new ti headers) and mspgccX, 3.2.3
#
#PFLAGS += -D__msp430_has_svs_at_0x55

MSP_BSL ?= tos-bsl
MSP_BSL_FLAGS = --telosb

ifdef CC2420_CHANNEL
PFLAGS += -DCC2420_DEF_CHANNEL=$(CC2420_CHANNEL)
endif

$(call TOSMake_include_platform,mm4)
$(call TOSMake_include_make_platform,msp)

build_num: FORCE
	@if [ ! -f $(BUILD_NUM_FILE) ] ; then echo -1 > $(BUILD_NUM_FILE); fi
	@echo $$(($$(cat $(BUILD_NUM_FILE)) + 1)) > $(BUILD_NUM_FILE)
	@echo BUILD: $(BUILD_NUM)

mm4: build_num $(BUILD_DEPS)
	@:
