# -*-Makefile-*- vim:syntax=make
#
# mm4 is based on msp430f2618
# see tos/platform/mm4/hardware.h for how the pins are assigned.
#

PLATFORM ?= mm4
PLATFORMDIR = $(MM_ROOT)/tos/platforms/$(PLATFORM)

BUILD_NUM_FILE = $(PLATFORMDIR)/_Build
BUILD_NUM := $(shell if [ -f $(BUILD_NUM_FILE) ]; then echo $$(($$(cat $(BUILD_NUM_FILE)) + 1)); else echo 0; fi)

PFLAGS += -D_BUILD=$(BUILD_NUM)

#
# THREADS_MSP430_DIR comes from main tree support/make/threads.extra
# mm4 is based on the msp430 so we use that threads variant.
#
# PFLAGS gets invoked first on the command line followed by CFLAGS
#

ifdef THREADS
CFLAGS  += $(THREADS_MSP430X_INCLUDE_DIRS) $(THREADS_MSP430_INCLUDE_DIRS)
#CFLAGS += $(THREADS_CC2420_INCLUDE_DIRS)
#CFLAGS += $(THREADS_TELOS_INCLUDE_DIRS)
endif

#MSP_MCU = msp430x2618

#
# The first PFLAGS addition, platforms/mm3 must be here otherwise
# the make mm3 doesn't work.  The others for tos/{system,interfaces}
# need to be here to make sure we don't get overridden by threads or
# other stuff that comes in via the CFLAGS varient.  Stuff in the .platform
# file come in last after PFLAGS and CFLAGS.
#
# shared platform files shared across MM varients are held in platforms/mm
# There is no make support for mm.  (no target file in support/make).
#

PFLAGS += -I$(MM_ROOT)/include
PFLAGS += -I$(MM_ROOT)/tos/platforms/mm4
PFLAGS += -I$(MM_ROOT)/tos/platforms/mm
PFLAGS += -I$(MM_ROOT)/tos/system
PFLAGS += -I$(MM_ROOT)/tos/interfaces

# Disable MSP430 hardware multiply because it makes MSPGCC die
PFLAGS += -mdisable-hwmul
PFLAGS += -mdata-64k -mcode-64k

# the include files for the 2618 needs to have the svsctl at 55
# not 56 which is where the dcoctl register lives.
PFLAGS += -D__msp430_has_svs_at_0x55

OPTFLAGS += -O

MSP_BSL ?= tos-bsl
MSP_BSL_FLAGS = --telosb

#VOLUME_FILE = volumes-stm25p.xml
#VOLUME_ALLOCATOR = tos-storage-stm25p

ifdef CC2420_CHANNEL
PFLAGS += -DCC2420_DEF_CHANNEL=$(CC2420_CHANNEL)
endif

$(call TOSMake_include_platform,msp)

build_num: FORCE
	@if [ ! -f $(BUILD_NUM_FILE) ] ; then echo -1 > $(BUILD_NUM_FILE); fi
	@echo $$(($$(cat $(BUILD_NUM_FILE)) + 1)) > $(BUILD_NUM_FILE)
	@echo BUILD: $(BUILD_NUM)

mm4: build_num $(BUILD_DEPS)
	@:
