#
# Copyright (C) Friedrich Lobenstock <fl at fl.priv.at>
# partly based on code from Nicholas Preyss <npreyss at ee.ethz.ch>
# see http://people.ee.ethz.ch/~npreyss/msp430/
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#


# give use a stable name /dev/msp-fet430uif for access 
# to the MSP430 Flash Emulation Tool (FET)

#KERNEL=="ttyUSB*", \
#	ATTRS{product}=="MSP-FET430UIF JTAG Tool", \
#	SYSFS{bNumConfigurations}=="2", \
#	SYSFS{bConfigurationValue}=="2", \
#	SYMLINK+="msp-fet430uif", \
#	GROUP="users", \
#	MODE="0660", \
#	OPTIONS+="last_rule"

# to activate the serial port of the MSP-FET430UIF we 
# need to activate its second configuration

SUBSYSTEM=="usb_device", \
	ACTION=="add", \
	ATTRS{product}=="MSP-FET430UIF JTAG Tool", \
	SYSFS{bNumConfigurations}=="2", \
	SYSFS{bConfigurationValue}=="1", \
	RUN+="/bin/sh -c 'echo 2 > /sys%p/device/bConfigurationValue'"

